@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin styletext($fs, $fw, $co, $td, $tt, $bg) {
    font-size: $fs;
    font-weight: $fw;
    color: $co;
    text-decoration: $td;
    text-transform: $tt;
    background-color: $bg;
}