@import "_generals.scss";
@import "_mixin.scss";
@import "_variables.scss";
// sass --watch assets/scss/main.scss assets/css/style.css
// Header==============================
header {
    padding: 0 3%;
    nav {
        position: fixed;
        width: 95%;
        padding: 4vh 2%;
        @include flex-between;
        img {
            width: 40px;
        }
        ul {
            @include flex-around;
            gap: 10px;
            li:nth-of-type(1) {
                padding-right: 30px;
            }
            li:nth-of-type(5) {
                padding-left: 30px;
            }
            a {
                padding: 3px;
                transition: ease 0.5s;
            }
            a:hover {
                // text-decoration: underline;
                border-bottom: solid 1px #fff;
                color: $main-color;
                transition: ease 0.5s;
            }
        }
    }
    h1 {
        padding: 30vh 45% 10vh 20%;
    }
    div {
        padding: 10vh 3%;
    }
}

aside {
    position: fixed;
    left: 0;
    top: 200px;
    nav {
        padding-left: 6rem;
        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: relative;
            .nav-list {
                span {
                    position: relative;
                    padding: 2px 8px;
                    border: 1px solid $main-color;
                    border-radius: 50%;
                    right: 28px;
                    bottom: 2px;
                }
                a:hover {
                    color: $main-color;
                    transition: ease 0.5s;
                    font-size: 2rem;
                }
                span::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    padding: 12px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .nav-line {
                position: relative;
                right: 20px;
                padding: 3vh 0;
                border-left: 1px solid $main-color;
            }
        }
    }
}

.about {
    padding: 15vh 8% 15vh 13%;
    @include flex-center;
    article {
        padding: 0 0 0 8%;
        h2 {
            margin-bottom: 5vh;
        }
    }
}

// Seite2===================
.lounger,
.experience {
    padding: 0 3% 0 0;
    @include flex-center;
    img {
        width: 57%;
        height: 100vh;
    }
    article {
        padding: 5vh 5% 0 5%;
        h2 {
            margin-bottom: 10vh;
        }
    }
}

// Seite3===================
.inspiration {
    padding: 20vh 20% 5vh 20%;
    .video {
        text-align: center;
        video {
            width: 90%;
            height: 60vh;
        }
    }
    article {
        padding: 10vh 0 5vh 0;
        h2 {
            padding: 3vh 0;
        }
        .btn-list ul {
            @include flex-center;
            li {
                margin-right: 1%;
                a {
                    border: $main-color solid 1px;
                    padding: 0.5rem 2rem;
                    box-shadow: 1px 1px 3px $main-color;
                }
                a:hover {
                    background-color: $main-color;
                    color: $secondary-color;
                    box-shadow: 1px 1px 3px $secondary-color;
                }
            }
        }
    }
    .alchemy,
    .architecture {
        padding: 0 5% 0 5%;
        @include flex-center;
        article {
            padding: 1vh 1% 0 3%;
            h2 {
                margin-bottom: 2vh;
            }
        }
        img {
            width: 50%;
        }
    }
}

// Seite4===================
.shop {
    padding: 0 3% 0 0;
    @include flex-center;
    img {
        width: 57%;
        height: 100vh;
    }
    article {
        padding: 5vh 0 0 0;
        margin: 0 auto;
        text-align: center;
        img {
            width: 100%;
            height: 50vh;
        }
        h2 {
            margin-bottom: 5vh;
        }
        a {
            border: $main-color solid 1px;
            padding: 0.8rem 2.2rem;
            background-color: $main-color;
            color: $secondary-color;
        }
        a:hover {
            color: $secondary-color;
        }
    }
}

// Seite5===================
.contact {
    @include flex-evenly;
    padding: 15vh 0 0 5%;
    img {
        width: 50%;
        height: 70%;
    }
    .form {
        border: $main-color solid 1px;
        border-radius: 20px;
        padding: 3vh 1%;
        color: $main-color;
        background-color: rgb(115, 115, 115);
        h1 {
            text-align: center;
            font-size: 3.5rem;
            margin-bottom: 2vh;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            label {
                padding: 5px;
                font-size: 2rem;
                font-weight: 400;
            }
            input {
                width: 20vw;
                border: none;
                border-radius: 5px;
                padding: 8px;
                font-size: 1.3rem;
                margin-bottom: 1vh;
            }
            input[name="submit"] {
                margin: 2vh auto;
                width: 20vw;
                background-color: $main-color;
                border: none;
                color: $secondary-color;
                padding: 10px;
                border-radius: 10px;
                &:hover {
                    cursor: pointer;
                    color: $main-color;
                    background-color: green;
                }
            }
        }
    }
}